<h1 class="mb-5"><span id="first-name" data-name="Nate"></span> <span class="text-highlight" id="last-name" data-name="Shoffner"></span></h1>

<div class="row">
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">About</h3>
        <p class="mb-5">I am a software engineer working primarily with C#, PHP, Python, and Java. With over 10 years of experience, both as a hobby and professionally, I have ventured between many technologies and frameworks, primarily focusing on the .NET Framework, Android, and full-stack environments.</p>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">Experienced With</h3>

        <div class="d-lg-inline-flex flex-row">
              <ul class="highlighted inlined-list">
                  <li>Android Development</li><li>Windows Development</li><li>Responsive Web Design</li><li>Full-Stack Development</li><li>API Design</li><li>More...</li>
              </ul>
        </div>

    </div>
</div>
