<footer>
    <div class="text-muted">
        &copy; Nate Shoffner, {{ site.time | date: '%Y' }}. All rights reserved.
        <br />
        <a href="{{ site.baseurl }}/about/privacy">Privacy</a> | <a href="{{ site.baseurl }}/about/disclosure">Disclosure</a> | <a href="{{ site.baseurl }}/#contact">Report Issue</a>
        <br />
        Build: <a href="{{ site.github_commit_path | replace: ':id', site.github.build_revision }}">{{ site.github.build_revision | slice: 0, 7 }}</a> - {{ site.time | date_to_rfc822 }}</a>
    </div>
</footer>

<script src="{{ site.baseurl }}/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="{{ site.baseurl }}/vendor/jquery.easing/jquery.easing.js"></script>
<script src="{{ site.baseurl }}/vendor/fancybox/dist/js/jquery.fancybox.pack.js"></script>
<script src="{{ site.baseurl }}/vendor/social-share-kit/dist/js/social-share-kit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/fancybox/dist/css/jquery.fancybox.css" media="screen" />

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/javascript">
SocialShareKit.init();
</script>