{% include get_project_from_slug.liquid slug=include.slug %}
{% include get_project_image.liquid project=project %}

<div class="project">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-1 my-auto">       
            <img src="/assets/images/projects/{{ project.slug }}/{{ project_image }}" class="img-fluid mx-auto d-block project-logo">
        </div>
        <div class="col-12 col-sm-10 col-md-11 mt-3">
            <h1>{{ project.name }}</h1>
        </div>
    </div>
    <p>{{ project.description }}</p>
    {% assign image_filenames = '' %}
    {% for image in project.images %}
    {% assign image_filenames = image_filenames | append: image.filename %}
    {% if forloop.last == false %}
    {% assign image_filenames = image_filenames | append: "," %}
    {% endif %}
    {% endfor %}
    {% include project_images_inline.liquid slug=project.slug filenames=image_filenames group="screenshots" %}
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="table table-sm table-striped project-table">
                <thead>
                    <tr>
                        <th colspan="2">System Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-history"></i> Version:</td>
                        <td>{{ project.version }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-calendar"></i> Updated:</td>
                        <td>{{ project.updated }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-desktop"></i> Platform(s):</td>
                        <td>{{ project.platforms | join: ", " }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-home"></i> Homepage:</td>
                        {% include url_domain_extract.liquid url=project.homepage %}
                        <td>{% if project.homepage %}<a href="{{ project.homepage }}">{{ domain }}</a>{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-code"></i> Open Source:</td>
                        <td>{{ project.open_source }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file"></i> License:</td>
                        <td>{{ project.license }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if project.downloads %}
        <div class="col-12 col-md-6">
            <table class="table table-sm table-striped project-table">
                <thead>
                    <tr>
                        <th colspan="2">Downloads</th>
                    </tr>
                </thead>
                <tbody>
                    {% for download in project.downloads %}
                    <tr>
                        <td><i class="fa fa-download"></i> <span class="project-name">{{ download.name }}</span><br /><span class="project-description">{{ download.description }}</span></td>
                        <td class="download"><a href="{{ download.url }}" role="button" class="btn btn-primary btn-block btn-download">Download</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if project.examples %}
        <div class="col-12 col-md-6">
            <table class="table table-sm table-striped project-table">
                <thead>
                    <tr>
                        <th colspan="2">Examples</th>
                    </tr>
                </thead>
                <tbody>
                    {% for example in project.examples %}
                    <tr>
                        <td><i class="fa fa-globe"></i> <span class="project-name">{{ example.name }}</span><br /><span class="project-description">{{ example.description }}</span></td>
                        <td class="download"><a href="{{ example.url }}" role="button" class="btn btn-primary btn-block btn-download">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="table table-sm table-striped project-table">
                <thead>
                    <tr>
                        <th colspan="2">Latest Blog Posts About {{ project.name }}</th>
                    </tr>
                </thead>
                <tbody>
                {% assign count = 0 %}
                {% for post in site.posts %}
                    {% if post.categories contains "Projects" and post.tags contains project.name %}
                    <tr>
                        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        <td><i class="fa fa-calendar"></i> {{post.date | date: '%B %d, %Y' }}</td>
                    </tr>

                    {% assign count = count | plus: 1 %}

                    {% if count == 4 %}
                        {% break %}
                    {% endif %}

                    {% endif %}
                {% endfor %}
                {% if count == 0 %}
                    <tr>
                         <td colspan="2">No blog posts found :(</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <div class="ssk-group">
                <a href="" class="ssk ssk-facebook"></a>
                <a href="" class="ssk ssk-twitter"></a>
                <a href="" class="ssk ssk-linkedin"></a>
                <a href="" class="ssk ssk-pinterest"></a>
                <a href="" class="ssk ssk-tumblr"></a>
            </div>
        </div>
    </div>
</div>