.project-compact {

    @media (max-width: 767.98px) { 

        .project-logo {
            max-height: 128px;
        }

        .project-image {
            max-height: 128px;
        }

    }

    table.project-table {
        border-style: none;
        margin-bottom: 0px;

        td, th {
            border: none;

            .project-name {
                font-weight: bold;
            }

            .project-description {
                font-size: 90%;
                padding-left: 0px;
            }

            .btn-download {
                float: right;
            }

        }

        td.download {
            vertical-align: middle;
        }
    }

    .project-description {
        padding: 10px;
    }
}

.tab-content > .tab-pane {
    border-left: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    border-radius: 0px 0px 5px 5px;
}

.project {

    .project-logo {
        max-height: 128px;
    }

    .project-image {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    @media (min-width: 992px) {

        .project-image {
            max-height: 256px;
        }

    }

    table {
        border: 01px solid $gray-400;

        th {
            @include heading-font;
            font-weight: 600;
        }

    }

    @media (max-width: 767.98px) { 

        .project-images-container {
            text-align: center;
        }
    }

    td.download {
        vertical-align: middle;
    }
}