// Layout Variables

$sidebar-base-width: 15rem;

// Bootstrap Variables

$white:    #FFFFFF !default;
$gray-100: #F8F9FA !default;
$gray-200: #E9ECEF !default;
$gray-300: #DEE2E6 !default;
$gray-400: #CED4DA !default;
$gray-500: #ADB5BD !default;
$gray-600: #868E96 !default;
$gray-700: #495057 !default;
$gray-800: #343A40 !default;
$gray-900: #212529 !default;

$blue: 	  #337AB7 !default;
$red:     #DC3545 !default;
$yellow:  #ffC107 !default;
$green:   #28A745 !default;
$cyan:    #17A2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Layout colors

$link-color:                 #007BFF; //red
$link-hover-color:           #007BFF; //green

$menu-bg: #2A2A2A;

$bg-primary:    #868E96;
$bg-secondary: $white;

$highlight: $blue;