---
layout: page
---

{% include url_decode.liquid param=page.category %}

<h2 class="mb-5">Posts categorized under <span class="text-primary">'{{ decoded }}'</span></h2>

{% for post in site.posts %}
    {% include array_contains_case_insensitive.liquid collection=post.categories filter=decoded %}
    {% if item_exists %}
        {% include post_excerpt.html post=post excerpt_length=80 %}
    {% endif %}
{% endfor %}

<!-- Used for Disqus comment counts -->
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>